h1  Portfolio

h2 Projects

h5 PLAYGEN - Playlist Generator App

p My first attempt at an app, created in week 2 of the course in conjunction with Fred Cliff. PLAYGEN is a ruby terminal app that allows a user to add, delete and show songs in their playlist that they have created, and also has features to find song lyrics and artist information with the help of Ruby gems.  

h5 Cocktails App

p This cocktails app is a collaborative project between a group of CoderAcademy students that wanted an extra-curricular project to contribute to outside of class.  This is also a Ruby terminal app at this stage and will provide the user with a list of cocktails that can be made with the specific alcohols that you enter/ have on hand, including recipes for those cocktails.  Contributors - Phil Fraser, Fred Cliff and myself.

h5 Ruby on Rails portfolio

p The website you are currently viewing - this was created with Ruby on Rails, HTML and CSS, with modified Bootstrap framework.  
